@use "sass:string";
@use "sass:list";

@use "../../scss/variables" as defaults;
@use "../../scss/mixins" as sharedMixins;

$fallbackAnimationDuration: 2.5s; // This time value should be in sync with JS(React component)
$animationDuration: var(
	#{defaults.$animationDurationVarName},
	$fallbackAnimationDuration
);

$animationFn: var(#{defaults.$animationEasingVarName}, linear);

$trophyBladeWidth: 4em;
$bladePlayDuration: $animationDuration;
$bladeBgPlayDuration: calc($animationDuration * 0.5);

$trophyBladeAnim: string.unique-id();
$shadowAnim: string.unique-id();
$trophySpinColoring: string.unique-id();

// Sass list with variable names that color the animation
// NOTE: These names should match with ones in Javascript(React component)
$coloringPropertyNames: (
	"--trophySpin-phase1-color",
	"--trophySpin-phase2-color",
	"--trophySpin-phase3-color",
	"--trophySpin-phase4-color"
);

@function trophySpinColorPhase($phaseNum: null) {
	$varName: string.unquote(list.nth($coloringPropertyNames, 1));
	$cssVar: var($varName);

	@if ($phaseNum and $phaseNum != 1) {
		$newVarName: string.unquote(list.nth($coloringPropertyNames, $phaseNum));

		// Explicitly add fallback since @property support is still catching up
		$cssVar: var($newVarName, var($varName));
	}

	@return $cssVar;
}

.trophy-spin-rli-bounding-box {
	--trophySpin-phase1-color: #{defaults.$defaultColor};

	box-sizing: border-box;
	font-size: defaults.$fontSizer;
	position: relative;
	isolation: isolate;
	color: trophySpinColorPhase();

	.trophy-spin-indicator {
		width: $trophyBladeWidth;
		perspective: 1000px;
		transform-style: preserve-3d;
		display: block;
		margin: 0 auto;

		.blade {
			display: block;
			width: $trophyBladeWidth;
			// box-shadow: 0 0 0.8px;
			height: calc($trophyBladeWidth / 8);
			background: trophySpinColorPhase();
			animation:
				$trophyBladeAnim $bladePlayDuration $animationFn infinite,
				$shadowAnim $bladeBgPlayDuration $animationFn infinite,
				$trophySpinColoring calc($bladePlayDuration * 4) $animationFn infinite;

			// &:not(:last-of-type) {
			// 	margin-bottom: 0.01em;
			// }

			@for $j from 0 through 7 {
				$viceversaSpokeNum: calc(7 - ($j - 1));

				&:nth-of-type(#{$viceversaSpokeNum}) {
					animation-delay: calc(($bladePlayDuration / 2) / 8 * $j * -1);
				}
			}
		}
	}

	// .trophy-spin-text {
	// 	color: currentColor;
	// 	mix-blend-mode: difference;

	// 	position: absolute;
	// 	top: 105%;
	// 	left: 50%;
	// 	transform: translateX(-50%);

	// 	z-index: -2;
	// }
}

// Register coloring CSS properties
@include sharedMixins.registerCustomProperties($coloringPropertyNames) {
	syntax: "<color>";
	inherits: true;
	initial-value: #{defaults.$defaultColor};
}

// Sass list
$animationDurationName: (#{defaults.$animationDurationVarName});
// Register CSS custom property for variable with animation Duration
// NOTE: We wont register custom property for animation easing function since it has a syntax that is not yet supported by CSS @property
@include sharedMixins.registerCustomProperties($animationDurationName) {
	syntax: "<time>";
	inherits: true;
	initial-value: $fallbackAnimationDuration;
}

@keyframes #{$trophyBladeAnim} {
	to {
		transform: rotateY(1turn) rotateX(-25deg);
	}
}

@keyframes #{$shadowAnim} {
	100%,
	0% {
		filter: brightness(1);
		opacity: 1; // Use opacity property since animating it, browser will interpolate btwn values
	}
	15% {
		filter: brightness(1);
	}

	// --------------------
	25% {
		opacity: 0.96;
	}
	// --------------------

	30% {
		filter: brightness(0.92);
	}

	// --------------------
	50% {
		filter: brightness(0.7);
		opacity: 1;
	}
	// --------------------

	75% {
		filter: brightness(0.92);
		opacity: 0.96;
	}
	90% {
		filter: brightness(1);
	}
}

// @keyframes #{$shadowAnim} {
// 	100%,
// 	0% {
// 		filter: opacity(1) brightness(1);
// 		// opacity: 1;
// 	}
// 	15% {
// 		filter: opacity(1) brightness(0.86);
// 	}
// 	30% {
// 		filter: opacity(1) brightness(0.72);
// 	}
// 	45% {
// 		filter: opacity(1) brightness(0.58);
// 	}

// 	50% {
// 		filter: opacity(1) brightness(0.5);
// 	}

// 	60% {
// 		filter: opacity(0.85) brightness(0.58);
// 	}
// 	75% {
// 		filter: opacity(0.9) brightness(0.72);
// 	}
// 	90% {
// 		filter: opacity(0.95) brightness(0.86);
// 	}
// }

@keyframes #{$trophySpinColoring} {
	100%,
	0% {
		background-color: trophySpinColorPhase(1);
	}
	18% {
		background-color: trophySpinColorPhase(1);
	}
	25% {
		background-color: trophySpinColorPhase(2);
	}
	43% {
		background-color: trophySpinColorPhase(2);
	}
	50% {
		background-color: trophySpinColorPhase(3);
	}
	68% {
		background-color: trophySpinColorPhase(3);
	}
	75% {
		background-color: trophySpinColorPhase(4);
	}
	93% {
		background-color: trophySpinColorPhase(4);
	}
}
